<div>
	<% Smartphone.all.each do |smartphone| %>
	<div class="">
		<label class="text-center">
			<%= image_tag(smartphone.image.url, size: "150") %><br>
		  	<%= check_box_tag "user[idphones][]", smartphone.id %>
			<%= smartphone.modele %>
		</label>
	<div>
	<% end %>
</div>