<div class="container">
	<h1>Mes disponibilités</h1>
	<p>Les réparations qui vous sont proposées sont basées selon vos disponibilités. Vous pouvez les modifier à tout moment.</p><br>

	<%= render 'form' %>
</div>