<div class="container">
	<h1>Vos disponibilités</h1>
	<p>Les réparations qui vous sont proposées sont basées selon vos disponibilités.<br>
	Veuillez sélectionner vos disponibilités. <i>(Vous pourrez les modifier à tout moment.)</i></p><br>

	<%= render 'form' %>

	<%= link_to 'Back', pages_index_path %>
</div>
