<div class="container text-center">
	<br><br><br>
	<%= image_tag("smarty.svg", size: "300") %>
	<h1>Bienvenue dans la communauté de La Smartphonerie !</h1>
	<p>Votre inscription à bien été prise en compte. Nous vous recontacterons sous peu afin de valider définitivement votre inscription.</p><br>
</div><br><br><br><br><br><br><br>