<div class="container" style="width:800px; height:600px;">
	
	<div class="col-md-12">
		<div id="marques" style="display:block;">
			<h3 class="">Sélectionnez la marque de votre smartphone :</h3>
			<button onclick="apple_modeles();" class="btn btn-success col-md-5" style="height:250px; margin:10px 10px 10px 10px;"><br><br><br><br><br><br><br><hr>APPLE</button>
			<button class="btn btn-success col-md-5" style="height:250px; margin:10px 10px 10px 10px;"><br><br><br><br><br><br><br><hr>SAMSUNG</button>
			<button class="btn btn-success col-md-5" style="height:250px; margin:10px 10px 10px 10px;"><br><br><br><br><br><br><br><hr>NOKIA</button>
			<button class="btn btn-success col-md-5" style="height:250px; margin:10px 10px 10px 10px;"><br><br><br><br><br><br><br><hr>AUTRE</button>
		</div>
	</div>

	<div class="col-md-12">
		<div id="apple-modeles" style="display:none;">
			<h3>Sélectionnez le modèle de votre smartphone :</h3>
			<button onclick="click_pannes();" class="btn btn-success col-md-3" style="height:150px; margin:10px 10px 10px 10px;"><br><br><br><br><hr><h3>iPhone 4</h3></button>
			<button class="btn btn-success col-md-3" style="height:150px; margin:10px 10px 10px 10px;"><br><br><br><br><hr>iPhone 4S</button>
			<button class="btn btn-success col-md-3" style="height:150px; margin:10px 10px 10px 10px;"><br><br><br><br><hr>iPhone 5</button>
			<button class="btn btn-success col-md-3" style="height:150px; margin:10px 10px 10px 10px;"><br><br><br><br><hr>iPhone 5C</button>
			<button class="btn btn-success col-md-3" style="height:150px; margin:10px 10px 10px 10px;"><br><br><br><br><hr>iPhone 5S</button>
			<button class="btn btn-success col-md-3" style="height:150px; margin:10px 10px 10px 10px;"><br><br><br><br><hr>iPhone 6</button>
			<button class="btn btn-success col-md-3" style="height:150px; margin:10px 10px 10px 10px;"><br><br><br><br><hr>iPhone 6 Plus</button>
			<button class="btn btn-success col-md-3" style="height:150px; margin:10px 10px 10px 10px;"><br><br><br><br><hr>iPhone 6S</button>
			<button class="btn btn-success col-md-3" style="height:150px; margin:10px 10px 10px 10px;"><br><br><br><br><hr>iPhone 6S Plus</button>
		</div>
	</div>

	<div id="samsung-modeles" style="display:none;">
			<button class="btn btn-success col-md-3" style="height:150px; margin:10px 10px 10px 10px;"><br><br><br><br><hr>Galaxy S3</button>
			<button class="btn btn-success col-md-3" style="height:150px; margin:10px 10px 10px 10px;"><br><br><br><br><hr>Galaxy S4</button>
			<button class="btn btn-success col-md-3" style="height:150px; margin:10px 10px 10px 10px;"><br><br><br><br><hr>Galaxy S4 Mini</button>
			<button class="btn btn-success col-md-3" style="height:150px; margin:10px 10px 10px 10px;"><br><br><br><br><hr>Galaxy S5</button>
			<button class="btn btn-success col-md-3" style="height:150px; margin:10px 10px 10px 10px;"><br><br><br><br><hr>Galaxy S5 Mini</button>
			<button class="btn btn-success col-md-3" style="height:150px; margin:10px 10px 10px 10px;"><br><br><br><br><hr>Galaxy S6</button>
			<button class="btn btn-success col-md-3" style="height:150px; margin:10px 10px 10px 10px;"><br><br><br><br><hr>Galaxy S6 Edge</button>
			<button class="btn btn-success col-md-3" style="height:150px; margin:10px 10px 10px 10px;"><br><br><br><br><hr>Autre</button>
		</div>

		<div class="col-md-8">
		<div id="nokia-modeles" style="display:none;">
			<button class="btn btn-success col-md-2" style="height:150px; margin:10px 10px 10px 10px;"><br><br><br><br><hr>Lumia 520</button>
			<button class="btn btn-success col-md-2" style="height:150px; margin:10px 10px 10px 10px;"><br><br><br><br><hr>Lumia 620</button>
			<button class="btn btn-success col-md-2" style="height:150px; margin:10px 10px 10px 10px;"><br><br><br><br><hr>Lumia 625</button>
			<button class="btn btn-success col-md-2" style="height:150px; margin:10px 10px 10px 10px;"><br><br><br><br><hr>Lumia 630</button>
			<button class="btn btn-success col-md-2" style="height:150px; margin:10px 10px 10px 10px;"><br><br><br><br><hr>Lumia 635</button>
			<button class="btn btn-success col-md-2" style="height:150px; margin:10px 10px 10px 10px;"><br><br><br><br><hr>Lumia 800</button>
			<button class="btn btn-success col-md-2" style="height:150px; margin:10px 10px 10px 10px;"><br><br><br><br><hr>Lumia 900</button>
			<button class="btn btn-success col-md-2" style="height:150px; margin:10px 10px 10px 10px;"><br><br><br><br><hr>Lumia 920</button>
			<button class="btn btn-success col-md-2" style="height:150px; margin:10px 10px 10px 10px;"><br><br><br><br><hr>Lumia 925</button>
			<button class="btn btn-success col-md-2" style="height:150px; margin:10px 10px 10px 10px;"><br><br><br><br><hr>Lumia 930</button>
			<button class="btn btn-success col-md-2" style="height:150px; margin:10px 10px 10px 10px;"><br><br><br><br><hr>Lumia 1020</button>
			<button class="btn btn-success col-md-2" style="height:150px; margin:10px 10px 10px 10px;"><br><br><br><br><hr>Lumia 1320</button>
			<button class="btn btn-success col-md-2" style="height:150px; margin:10px 10px 10px 10px;"><br><br><br><br><hr>Lumia 1520</button>
			<button class="btn btn-success col-md-2" style="height:150px; margin:10px 10px 10px 10px;"><br><br><br><br><hr>Autre</button>
		</div>
	</div>

	<div class="col-md-8">
		<div id="pannes" style="display:none;">
			<h3>Sélectionnez la panne de smartphone :</h3>
			<button class="btn btn-success col-md-3" style="height:150px; margin:10px 10px 10px 10px;"><br><br><br><br><hr>Écran cassé/défectueux</button>
			<button class="btn btn-success col-md-3" style="height:150px; margin:10px 10px 10px 10px;"><br><br><br><br><hr>Batterie</button>
			<button class="btn btn-success col-md-3" style="height:150px; margin:10px 10px 10px 10px;"><br><br><br><br><hr>Boutons défectueux</button>
			<button class="btn btn-success col-md-3" style="height:150px; margin:10px 10px 10px 10px;"><br><br><br><br><hr>Vibreur</button>
			<button class="btn btn-success col-md-3" style="height:150px; margin:10px 10px 10px 10px;"><br><br><br><br><hr>Appareil photo avant</button>
			<button class="btn btn-success col-md-3" style="height:150px; margin:10px 10px 10px 10px;"><br><br><br><br><hr>Appareil photo arrière</button>
			<button class="btn btn-success col-md-3" style="height:150px; margin:10px 10px 10px 10px;"><br><br><br><br><hr>Oxydation</button>
			<button class="btn btn-success col-md-3" style="height:150px; margin:10px 10px 10px 10px;"><br><br><br><br><hr>Autre</button>
			<button class="btn btn-success col-md-3" style="height:150px; margin:10px 10px 10px 10px;"><br><br><br><br><hr>Je ne sais pas</button>
		</div>
	</div>
	

</div>



<script type="text/javascript">
	function apple_modeles() {
		document.getElementById('marques').style.display = 'none';
		document.getElementById('apple-modeles').style.display = 'block';
	}

	function click_pannes() {
		document.getElementById('apple-modeles').style.display = 'none';
		document.getElementById('samsung-modeles').style.display = 'none';
		document.getElementById('nokia-modeles').style.display = 'none';
		document.getElementById('pannes').style.display = 'block';
	}

	function retour_accueil() {
		document.getElementById('apple-modeles').style.display = 'none';
		document.getElementById('samsung-modeles').style.display = 'none';
		document.getElementById('nokia-modeles').style.display = 'none';
		document.getElementById('pannes').style.display = 'none';
		document.getElementById('marques').style.display = 'block';
	}
</script>