<div class="container">
	<div class="col-md-2"></div>
	<div class="col-md-8 panel panel-default">
	<h1 class="text-green text-center">Conditions Générales - La Smartphonerie</h1><br>

	<p>
		Le site www.lasmartphonerie.com est édité par :
La société La Smartphonerie, SAS au capital de 3.000 euros, dont le siège social est situé 1,avenue de Bretagne, 95270 Soisy-sous-montmorency, immatriculé au Registre du Commerce et des Société, sous le numéro 538 394 651, numéro de TVA FR08538394651, adresse e-mail : hello@lasmartphonerie.com.
Toute utilisation de ce site Internet, accessible à l'adresse www.lasmartphonerie.com implique l’acceptation pleine et entière par l'utilisateur, des présentes Conditions Générales.
Le Présent contrat est conclu entre La Smartphonerie et toute personne souhaitant utiliser le site www.lasmartphonerie.com
	</p><br><br>

	<h4 class="text-green text-center" >1. OBJET</h4>
	<p>
		La Smartphonerie est l'éditeur d'une plateforme, accessible via Internet, proposant un service de mise réparation entre des prestataires et des clients (ci-après dénommés les « utilisateurs »).
La plateforme est ainsi dédiée aux clients (consommateurs ou professionnels) à la recherche d'une prestation, qui peut alors être réalisée par un prestataire, qu'il soit particulier ou professionnel.
La plateforme est donc un site internet permettant aux utilisateurs dont le smartphone est endommagé de pouvoir trouver un moyen de le réparer à leur domicile ou au bureau.
Les présentes conditions générales ont pour objet de définir les modalités et conditions dans lesquelles l'utilisateur est autorisé à utiliser la plateforme. Elles prévalent sur tout autre document qui aurait pu être communiqué à La Smartphonerie.
Les Conditions générales applicables sont celles en vigueur à la date de l'inscription de l'utilisateur à la plateforme.
Les présentes conditions générales sont la propriété de La Smartphonerie. Toute reproduction, même partielle, est strictement interdite.
	</p><br>
	<h5 class="" >1.1 Description du service.</h5>
	<p>
		La Smartphonerie est un éditeur de solutions pour la réparation de smartphone. Le site internet www.La Smartphonerie.fr (le « Site ») édité par la société La Smartphonerie SAS permet à une clientèle de particuliers et de professionnels (les « Utilisateur(s) » ou les « Client(s) ») d’effectuer des demandes en ligne de réparation de téléphones portables, à la date et à l’horaire de leur choix. 
Ces Demandes de réservations sont proposées à des tiers réparateurs indépendants de téléphones portables. Réservée aux Réparateurs ayant souscrits à un contrat partenaire de réparateur indépendant avec La Smartphonerie. Les Réparateurs ont la faculté d’accepter la prise en charge d’une demande de réservation via le site.
 Ils sont alors tenus d’effectuer la prestation de réparation, conformément à la fiche de réservation, quispécifie en particulier le nom et prénom du client, le type d’appareil à réparer, le type de réparation, le lieu de la réparation, la date et l’horaire de la réparation, les conditions tarifaires de la réparation et toute autre information nécessaire à la prise en charge et à la réalisation de la réparation. 
Les réparateurs réalisent pour leur propre compte et sous leur entière responsabilité les réparations. sur le lieu et sur le créneau horaire prévu pour réaliser la réparation de votre smartphone.
	</p><br>

	<h5 class="" >1.2 Modalités de réservation</h5>
	<p>
		L’utilisateur peut, via le site, effectuer une demande de réservation en renseignant les différents champs requis, premièrement le modèle de son Smartphone et la panne, puis dans un deuxième questionnaire des informations personnelles tel que ces coordonnées et la date et le lieu de la réparation.  Les Demandes de réservation pourront être soit immédiates, c’est-à-dire pour des réparations devant intervenir dans les 5 heures à compter de la demande de réservation, soit différées pour toutes les autres demandes de réservation. 
A défaut de renseigner les champs requis, la demande de réservation ne pourra pas être traitée par La Smartphonerie. Sur la base des informations communiquées, La Smartphonerie transmet à l’utilisateur une proposition de rix pour la réparation souhaitée. 
Après vérification des éléments communiqués par La Smartphonerie, l’utilisateur accepte ou non le prix ainsi proposé par La Smartphonerie et valide définitivement la demande de réservation. La Smartphonerie fournit ses meilleurs efforts pour répondre à la demande de réservation. 
Après validation de la demande de réservation par l’utilisateur et après que La Smartphonerie se soit assuré de la disponibilité d’un réparateur, l’utilisateur reçoit un récapitulatif de sa demande de réservation par e-mail. La réception de cet e-mail vaut validation définitive de la réservation. Le Client est alors engagé et doit se présenter au lieu convenu et à l’horaire convenue de la réparation.
	</p><br><br>


	<h4 class="text-green text-center" >2. STATUS ET OBLIGATION LA SMARTPHONERIE</h4>
	<p>
		La Smartphonerie s'engage à fournir à l'utilisateur le service lui permettant d’accueillir un réparateur du réseaux de La Smartphonerie. 
Le rôle de La Smartphonerie est donc de fournir aux utilisateurs une prestation pour la réparation de leurs Smartphones.
	</p><br>
	<h5 class="" >2.1 Acceptation des Conditions Générales</h5>
	<p>
		L'utilisateur s'engage, préalablement à son inscription sur la plateforme, à prendre connaissance et à accepter les présentes Conditions générales. L'inscription sur la plateforme vaut acceptation des présentes Conditions d'utilisation.
	</p><br>
	<h5 class="" >2.2 Déclaration de l'utilisateur</h5>
	<p>
		L'utilisateur déclare, préalablement à son inscription sur la plateforme :
S'il est une personne physique agissant pour son compte, qu'il est une personne majeure et qu'il dispose de la capacité lui permettant de s'engager contractuellement avec La Smartphonerie et avec un autre Utilisateur, ou s'il est un mineur, l'utilisateur déclare être âgé d'au moins 16 ans, disposer d'une autorisation parentale ou être émancipé, et respecter les conditions prévues par la loi pour agir le cas échéant en tant que prestataire.
S'il agit pour le compte d'une personne morale, qu'il est le représentant légal ou qu'il dispose d'un mandat de la personne morale concernée pour s'engager contractuellement avec La Smartphonerie et avec un autre Utilisateur, qu'il s'engage à ne pas utiliser la plateforme pour proposer ou rechercher une activité salariée.
	</p><br>
	<h5 class="" >2.3 Règles spécifiques au Prestataire</h5>
	<p>
		Le prestataire peut agir en tant que professionnel ou en tant que particulier.
S'il s'inscrit sur la plateforme en qualité de prestataire professionnel, le prestataire déclare, préalablement à son inscription:
Qu'il agit en tant que professionnel, c'est-à-dire dans le cadre et pour les besoins de son activité professionnelle qu'il exerce à titre indépendant,
Qu'il exerce son activité de prestataire dans le cadre d'un statut professionnel conforme à la législation et à la réglementation applicable,
Qu'il respecte les obligations déclaratives fiscales et sociales résultant de sa qualité de professionnel et de son activité sur la plateforme.
En conséquence, le prestataire ne pourra en aucun cas revendiquer l'application à son profit des dispositions issues du code du travail et/ou du code de la consommation.
S'il s'inscrit sur la plateforme en tant que particulier, le prestataire s'engage à déclarer l'ensemble de ses revenus perçus en tant que « compléments de revenus » dans sa déclaration d’impôts.
Enfin, le prestataire s'interdit d'utiliser la plateforme comme moyen pour contourner l'interdiction légale prévue par l'article L.8221-1 du Code du travail prévoyant, à titre principal, que le travail totalement et partiellement dissimulé est interdit.
	</p><br>

	<h5 class="" >2.4 Règles spécifiques aux Clients</h5>
	<p>
		Le client s'engage à respecter les obligations fiscales et sociales lui incombant. A ce titre, le client est responsable de toute déclaration auprès des administrations compétentes, et notamment auprès de l'URSSAF. 
	</p><br><br>

	<h4 class="text-green text-center" >3. CONDITIONS TARIFAIRE</h4>
	<p>
		Le prix proposé pour chaque réparation lors des demandes de réservation est déterminé notamment en fonction :
 - du type d’appareil (marque, modèle, etc.) ;
 - du type de réparation à effectuer (remplacement d’écran, de batterie, de connecteurs, etc.) 
- des spécificités indiquées par l’utilisateur lors de la demande de réservation ; 
Toute modification de la réservation préalablement à la réparation par le réparateur peut entraîner une modification de la proposition de prix effectuée par La Smartphonerie, au regard des critères énumérés précédemment dans ce même article, cette modification devant être préalablement acceptée par l’utilisateur. 
Toute modification de la réservation en cours de réparation par le réparateur (en ce compris des réparations additionnelles ou différentes de celles établies lors de la réservation) peut entraîner de plein droit une augmentation du prix proposé initialement lors de la demande de réservation. 

	</p><br>
	<h5 class="" >3.1 Conditions de paiement </h5>
	<p>
		Le paiement de la réparation est effectué soit auprès du prestataire de La Smartphonerie, la société LYDIA, par paiement électronique sécurisé. 
Après la réparation, l’utilisateur appose sa signature (la « Signature ») sur un formulaire sur l’application du Réparateur. 
Cette signature électronique a valeur entre les parties au même titre qu'une signature manuscrite. Cette signature électronique valide que la réparation a bien été effectuée. Si le devis a été modifié, la signature vaut acceptation du nouveau devis. 
Une fois la signature reçue, le réparateur valide la transaction sur l’application et le prix est automatiquement prélevé sur le compte bancaire de l’utilisateur s’il a choisi le paiement par prélèvement. 
S’il a choisi le paiement en espèce, l’utilisateur est tenu de payer le réparateur une fois sa signature apposée. S’il choisit le paiement par prélèvement, l’utilisateur communique ses coordonnées bancaires de façon totalement sécurisée à un prestataire de La Smartphonerie. 
Afin de protéger et de crypter les données de carte bancaire, La Smartphonerie emploie la technologie de son prestataire LYDIA. 

	</p><br>
	<h5 class="" >3.2 Défaut de paiement </h5>
	<p>
		Tout retard de paiement, après relance restée sans effet, fait l’objet d’une majoration égale à 1,5 fois le taux d’intérêt légal en vigueur, calculée à compter de la réception par l’utilisateur de la mise en demeure de payer adressée par tout moyen par La Smartphonerie et l’informant du point de départ de la majoration. 

	</p><br>
	<h5 class="" >3.3 Facturation</h5>
	<p>
		Une fois la réparation effectuée, La Smartphonerie adresse à l’Utilisateur, par courrier électronique, à l’adresse enregistrée par l’Utilisateur au moment de la Demande de réservation, une facture pour le compte du réparateur détaillant le prix et autres caractéristiques de la ou des réparations objet de la facture, ainsi que, le cas échéant, les autres sommes pouvant être dues à La Smartphonerie et aux Réparateurs (frais d’annulation, etc.). 

	</p><br>

	<h5 class="" >3.4 Modalités de modification </h5>
	<p>
		Pour modifier sa Demande de réservation, l’utilisateur doit annuler sa demande de réservation et effectuer une nouvelle demande de réservation. Toute annulation tardive pourra ouvrir droit au paiement de frais d’annulation au profit de La Smartphonerie, conformément à l’article 3.5.3. 3.5.2 Modalités d’annulation Préalablement à la réparation par le Réparateur, l’utilisateur pourra librement annuler sa réservation via le Site, grâce à un lien contenu dans l’email de réservation. 
Toute annulation tardive pourra ouvrir droit au paiement de frais d’annulation au profit de La Smartphonerie. Des frais d’annulation seront également applicables en cas de non présentation de l’Utilisateur à l’adresse et l’heure de départ indiqués dans la réservation. 
	</p><br>

	<h5 class="" >3.5 Montant des frais d’annulation</h5>
	<p>
		a) L’annulation de toute Demande de réservation, dont la prise en charge n’a pas été confirmée par un e-mail de validation de la réservation n’entraîne aucun frais d’annulation à la charge de l’utilisateur b) L’annulation de toute réservation n’entraînera des frais d’annulation à la charge de l’utilisateur.
	</p><br><br>

	<h4 class="text-green text-center" >4. RÉCLAMATION - LITIGE ENTRE LES UTILISATEURS</h4>
	<p>
		L'utilisateur s'engage à adresser à La Smartphonerie toute réclamation concernant l'exécution d'un accord conclu avec un autre utilisateur via la plateforme.
En toute hypothèse, hormis le cas spécifique visé à l'article « Absence de fourniture de la Prestation », le montant de la Commission versé à La Smartphonerie ne sera pas remboursé.

	</p><br>
	<h5 class="" >4.1 Fourniture partielle ou défaut de qualité de la Prestation </h5>
	<p>
		En cas de litige entre un client et un prestataire, notamment dans l'hypothèse où la prestation n'est fournie que partiellement ou que la qualité de la prestation fait défaut, les utilisateurs s'engagent à se rapprocher de La Smartphonerie afin de trouver une issue amiable. Toutefois, la responsabilité de La Smartphonerie ne saurait être engagée à ce titre.

	</p><br>
	<h5 class="" >4.2 Absence de paiement du solde du prix de la Prestation</h5>
	<p>
		Lorsque, en cas de paiement direct, le solde du prix de la prestation n'est pas payé par le client dans les délais convenus avec le prestataire, ce dernier doit immédiatement en informer La Smartphonerie qui tentera alors de rapprocher les parties afin de trouver une issue amiable.
En tout état de cause, La Smartphonerie ne peut être tenue responsable en cas de défaut de paiement du solde par le Client. Le cas échéant, il appartient au Prestataire d'entreprendre les démarches nécessaires afin d'obtenir le paiement du prix qui lui est dû.
</p><br><br>


	<h4 class="text-green text-center" >5. ASSISTANCE</h4>
	<h5 class="" >5.1 Assistance technique </h5>
	<p>
		En cas de difficultés techniques lors de l'utilisation du Service, l'utilisateur peut contacter La Smartphonerie par courrier électronique à l'adresse admin@lasmartphonerie.com.
	</p><br>
	<h5 class="" >5.2 Assistance administrative et commerciale </h5>
	<p>
		Pour toute question concernant la plateforme, autre que les questions techniques, l'utilisateur peut contacter La Smartphonerie dans les conditions définies ci-après :
Par courrier électronique : admin@lasmartphonerie.com
	</p><br>
	<h5 class="" >5.3 Engagement de l’utilisateur</h5>
	<p>
		5.3.1 L’utilisateur s'oblige à transmettre des renseignements exacts et véritables notamment sur sa civilité, ses nom, prénom, adresse e-mail et téléphone, ou encore sa dénomination sociale et son numéro RCS, le cas échéant, nécessaires à sa bonne identification, en vue de la Demande de réservation. 
	</p>
	<p>
		5.3.2 L’utilisateur s’engage à se présenter au lieu indiqué par l’utilisateur lors de la Demande de réservation, à l’horaire indiqué par l’utilisateur lors de la réservation. 
	</p>
	<p>
		5.3.3 L’utilisateur s’engage à effectuer une sauvegarde complète des données de toutes les données contenues dans son appareil, préalablement à la réparation
	</p><br><br>



	<h4 class="text-green text-center" >6. DONNÉES PERSONNELLES</h4>
	<h5 class="" >6.1 Conformité à la loi </h5>
	<p>
		La Smartphonerie, dans le strict respect de la loi et des règlements en vigueur, souhaite recueillir certaines informations. Ces informations sont recueillies conformément aux dispositions relatives à la protection des données personnelles et sont destinées à proposer à l'utilisateur une utilisation personnalisée et optimale du site. 
	</p><br>
	<h5 class="" >6.2 Obligations CNIL</h5>
	<p>
		La Smartphonerie, amenée à instaurer des traitements automatisés de données à caractère personnel, s’engage à se conformer aux obligations légales en la matière, résultant notamment de la Loi n°78-17 du 6 janvier 1978 relative à l’informatique, aux fichiers et aux libertés. 
	</p><br>
	<h5 class="" >6.3 Charte sur la vie privée</h5>
	<p>
		La collecte des données à caractère personnel ne permet pas de faire apparaître, directement ou indirectement, les origines ethniques, les opinions politiques, philosophiques ou religieuses ou l'appartenance syndicale des personnes, ni des données relatives à la santé ou à la vie sexuelle de celles-ci. Les données concernant l'utilisateur sont collectées et traitées de manière loyale et licite pour des finalités déterminées, explicites et légitimes, sans être traitées ultérieurement de manière incompatible avec ces finalités, sous une forme permettant l'identification des personnes concernées pendant une durée qui n'excède pas la durée nécessaire aux finalités pour lesquelles elles sont collectées et traitées. 
	</p><br>

	<h5 class="" >6.4 Utilisation des données de l'utilisateur </h5>
	<p>
		Est informé par les présentes CGU de ce que les données à caractère personnel signalées comme étant obligatoires sur les formulaires et recueillies dans le cadre des service décrits dans les présentes CGU sont nécessaires à l'utilisation de ces services, sont utilisées uniquement dans le cadre de ces services et sont destinées exclusivement à La Smartphonerie et ses partenaires (notamment les réparateurs), qui prennent, sous leur entière responsabilité, les précautions utiles afin de préserver la sécurité des données. L'utilisateur autorise La Smartphonerie à fournir certaines informations à ses prestataires techniques afin de faire bénéficier l'utilisateur de certaines fonctions du Site et/ou de l’application (compte privé, forum, avis, commentaires...). En outre, l'utilisateur autorise La Smartphonerie à utiliser et/ou à céder ces informations dans le cadre de partenariats et ce, conformément à la loi, notamment dans le but de faire profiter l'utilisateur d'informations et services personnalisés.
	</p><br>

	<h5 class="" >6.5 Suspension du compte utilisateur</h5>
	<p>
		6.5.1 Conditions de suspension du Compte Utilisateur
La Smartphonerie peut suspendre le Compte Utilisateur d'un Utilisateur dans les hypothèses suivantes :
En cas de manquement de l'utilisateur à l'une de ses obligations visées au sein du Contrat. Le cas échéant, le Compte Utilisateur sera suspendu jusqu'à ce que l'utilisateur ait remédié au manquement concerné,
Après un deuxième avertissement pour abandon d'un Accord conclu avec un utilisateur via la plateforme sur une période de 6 mois. Le cas échéant, le Compte Utilisateur sera suspendu pendant une période de 3 mois.
Cependant, dans l'hypothèse où la nature du manquement serait tel que le Contrat ne peut être poursuivi, alors La Smartphonerie peut le résilier unilatéralement dans les conditions visées à l'article « Résiliation du Contrat conclu entre La Smartphonerie et l'utilisateur ».
	</p>
	<p>
		6.5.2 Conséquences de la suspension du Compte Utilisateur
En cas de suspension du Compte Utilisateur, l'utilisateur ne pourra plus utiliser la plateforme, et ce jusqu'à ce qu'il ait remédié au manquement invoqué ou jusqu'à l'expiration de la période de sanction faisant suite à un deuxième avertissement.
Il est rappelé que la suspension du Compte Utilisateur ne suspend que les obligations de La Smartphonerie envers l'Utilisateur. L'Utilisateur reste donc tenu d'exécuter les obligations lui incombant aux termes du présent Contrat ainsi que les obligations auxquelles il se serait engagé aux termes d'un Accord conclu avec un autre Utilisateur via la Plateforme.
	</p>
	<p>
		6.5.3 Résiliation à l'initiative d'un Utilisateur
Un Utilisateur peut résilier le Contrat conclu avec la plateforme à tout moment en se désinscrivant de la plateforme et en fermant son Compte Utilisateur.
	</p>
	<p>
		6.5.4 Résiliation à l'initiative de La Smartphonerie
En cas de manquement d'un Utilisateur aux obligations qui lui incombent en vertu du présent Contrat, La Smartphonerie peut lui adresser, par courrier électronique, une mise en demeure d'y remédier. Si à l'issue d'un délai de 15 jours à compter de la date d'émission de cette mise en demeure, l'utilisateur ne s'est pas conformé à ses obligations, alors La Smartphonerie peut résilier de plein droit le Contrat par l'envoi d'un second courrier électronique.
Toutefois, dans le cas où la nature des engagements non respectés rendrait impossible la poursuite du Contrat, La Smartphonerie pourra résilier le Contrat de plein droit immédiatement après la constatation du manquement, par envoi d'un courrier électronique.
	</p>
	<p>
		6.5.5 Conséquences de la résiliation
L'utilisateur est informé que la résiliation du Contrat a pour conséquence :
- L'exigibilité immédiate des sommes dues à La Smartphonerie,
- La suppression du Compte Utilisateur à l'issue des Accords conclus avec d'autres Utilisateurs.
Il est rappelé que la résiliation du Contrat n'a aucune incidence sur l'exécution de l'accord qui serait conclu par l'utilisateur avec d'autres Utilisateurs, ceux-ci restant tenus d'exécuter leurs obligations dans les conditions qu'ils ont déterminées.
	</p>
	<p>
		6.6 Droit d'accès
 De rectification et d'opposition L'utilisateur bénéficie d'un droit d'accès et de rectification de ces données qu'il peut exercer auprès de La Smartphonerie. L'Utilisateur peut, par ailleurs, exercer son droit d'opposition à l'utilisation de ces données pour motifs légitimes en s’adressant à La Smartphonerie.
	</p>
	<p>
		6.5.2 Conséquences de la suspension du Compte Utilisateur
En cas de suspension du Compte Utilisateur, l'utilisateur ne pourra plus utiliser la plateforme, et ce jusqu'à ce qu'il ait remédié au manquement invoqué ou jusqu'à l'expiration de la période de sanction faisant suite à un deuxième avertissement.
Il est rappelé que la suspension du Compte Utilisateur ne suspend que les obligations de La Smartphonerie envers l'Utilisateur. L'Utilisateur reste donc tenu d'exécuter les obligations lui incombant aux termes du présent Contrat ainsi que les obligations auxquelles il se serait engagé aux termes d'un Accord conclu avec un autre Utilisateur via la Plateforme.
	</p><br>

	<h5 class="" >6.6 Droit d'accès</h5>
	<p>
		 De rectification et d'opposition L'utilisateur bénéficie d'un droit d'accès et de rectification de ces données qu'il peut exercer auprès de La Smartphonerie. L'Utilisateur peut, par ailleurs, exercer son droit d'opposition à l'utilisation de ces données pour motifs légitimes en s’adressant à La Smartphonerie.
	</p><br>

	<h5 class="" >6.7 Avertissement </h5>
	<p>
		 L'utilisateur reconnaît que, d'une manière générale et en l'état de la technique actuelle, chaque fois qu'il publie des informations en ligne, ces informations peuvent être collectées et utilisées par des tiers. Par conséquent, l'utilisateur décharge La Smartphonerie de toute responsabilité ou conséquence dommageable de l'utilisation par des tiers des informations échangées par le biais des outils de communication (notamment avis) proposés par le Site
	</p><br><br>

	<h4 class="text-green text-center" >7. PROPRIÉTÉ INTELLECTUELLE ET INDUSTRIELLE</h4>
	<h5 class="" >7.1 Propriété des droits</h5>
	<p>
		Tous les droits, patrimoniaux et moraux, de propriété intellectuelle et/ou industrielle, afférents aux contenus et aux éléments d'information du Site et présent sur le Site appartiennent en propre à La Smartphonerie, sous réserve de tout droit patrimonial pouvant appartenir à un tiers et pour lesquels La Smartphonerie a obtenu les cessions de droits ou les autorisations nécessaires. Les droits conférés à l'Utilisateur en vue de l'utilisation du Site et des Services fournis par La Smartphonerie n'emportent aucune cession ni aucune autorisation d'exploiter ou d'utiliser l'un quelconque des éléments du Site. 
	</p><br>
	<h5 class="" >7.2 Protection de tous les éléments</h5>
	<p>
		Marques, dessins, logos, liens hypertextes, informations, etc. Tous les éléments (marques, dessins, textes, liens hypertextes, logos, images, vidéos, éléments sonores, logiciels, mise en page, bases de données, codes...) contenus sur le Site et dans les sites associés sont protégés par le droit national et international de la propriété intellectuelle. Ces éléments restent la propriété exclusive de La Smartphonerie. 
	</p><br>
	<h5 class="" >7.3 Interdiction d'utilisation sans autorisation. </h5>
	<p>
		Par conséquent, sauf autorisation préalable et écrite de La Smartphonerie, l'Utilisateur ne peut procéder à une quelconque reproduction, représentation, réédition, redistribution, adaptation, traduction et/ou transformation partielle ou intégrale, ou un transfert sur un autre site web de tout élément composant et présent sur le Site. L'Utilisateur s'engage à ne pas soumettre, copier, revendre, rééditer, ou, en général, rendre disponible par quelque forme que ce soit toute information ou élément, reçue de La Smartphonerie ou disponible sur le Site, à une autre personne physique ou morale, de tous pays. 
En général, l'utilisateur s'engage à respecter les dispositions ci-avant relatives à la propriété intellectuelle.
	</p><br>

	<h5 class="" >7.4 Sanctions</h5>
	<p>
		L'utilisateur reconnaît et prend connaissance que le non-respect de cette interdiction est constitutif d'un acte de contrefaçon répréhensible, tant civilement que pénalement.
	</p><br><br>

	<h4 class="text-green text-center" >8. EXERCICE LIÉS AU DONNÉES PERSONELLES</h4>
	<p>
		L'utilisateur bénéfice d'un droit d'accès, d'opposition et de rectification s'agissant des données le concernant, ce conformément aux articles 32 et suivants de la loi n°78-17 du 6 janvier 1978 dite « Informatique et Libertés ».
Cette demande devra être accompagnée d'une copie d'un titre d'identité revêtant la signature du demandeur et devra préciser l'adresse à laquelle une réponse peut être envoyée à l'utilisateur.
	</p><br>
	<h5 class="" >8.1 Cookies</h5>
	<p>
		La Smartphonerie peut utiliser des cookies afin notamment de faciliter la navigation d'un Utilisateur sur la plateforme et de lui proposer des offres personnalisées. Ces cookies peuvent être supprimés par l'utilisateur au sein des paramètres de son navigateur. Cependant, la surpression des cookies peut perturber la navigation sur la plateforme, voire empêcher l'utilisation de certaines fonctionnalités.
	</p><br>
	<h5 class="" >8.2 Responsabilité</h5>
	<p>
		La Smartphonerie est responsable de plein droit de l'exécution de ses obligations, dans le cadre d'une obligation de moyen.
La Smartphonerie ne saurait cependant être responsable des dommages indirects causés à un Utilisateur tels que pertes de profits, de manque à gagner, perte de clientèle, atteinte à l'image de marque.
En tout état de cause, dans l'hypothèse où le Client ne serait pas un client consommateur au sens du Code de la consommation, la responsabilité pécuniaire de La Smartphonerie sera plafonnée au montant de la Commission qui lui est due par le Prestataire au titre de l'Accord concerné.
Cette clause sera appliquée sous réserve des dispositions contraires prévues par certaines législations. Le cas échéant, la responsabilité de La Smartphonerie sera limitée dans la mesure permise par ladite loi applicable.
Par ailleurs, la responsabilité de La Smartphonerie ne pourra être recherchée en cas d'inexécution de tout ou partie de ses obligations due à un événement de force majeure tel que défini par la loi et la jurisprudence française.
A cet égard, les parties conviennent expressément que sont également assimilés à des cas de force majeure, les événements tels que l'arrêt de la fourniture d'énergie, la défaillance et/ou l'interruption de l'accès au réseau internet, la panne et/ou le sabotage des moyens de télécommunications, les actes de piratage informatique, incendie, foudre, inondation et autre catastrophe naturelle, dégât des eaux, intempérie exceptionnelle, avarie, épidémie, émeute, guerre, guerre civile, insurrection, attentat, explosion, acte de vandalisme, grève totale ou partielle, lock-out extérieure à La Smartphonerie.
Par ailleurs, l'Utilisateur est responsable des dommages de toute nature, matériels ou immatériels, directs ou indirects, causé à La Smartphonerie ou à tout tiers, du fait de l'utilisation illicite de la Plateforme, quelque soit la cause de ce dommage.
L'utilisateur garanti La Smartphonerie des conséquences, réclamations et/ou action dont La Smartphonerie pourrait, de ce fait, faire l'objet.
L'utilisateur renonce à exercer tout recours contre La Smartphonerie dans le cadre de poursuites diligentées par un tiers à son encontre du fait de l'utilisation ou de l'exploitation illicite de la plateforme.
	</p><br><br>

	<h4 class="text-green text-center" >9. UTILISATION CONFORME DU SERVICE ET RESPECT DE LA REGLEMENTATION APPLICABLE</h4>
	<p>
		L'Utilisateur s'engage à utiliser la plateforme dans le respect des législations et réglementations applicables et en prenant soin de ne pas porter atteinte aux droits des tiers.
En particulier, l'utilisateur s'engage : à ne pas utiliser la plateforme à des fins illicites, en particulier pour proposer ou acheter une Prestation interdite par les législations et réglementations applicables, à ne pas publier ou transmettre de contenus illicites via la plateforme, tels que notamment des contenus relatifs à l'apologie des crimes contre l'humanité, à l'incitation à la haine raciale et à la violence, à la pornographie enfantine, aux atteintes à la dignité humaine, ainsi que les contenus à caractère discriminatoire, attentatoire à la vie privée ou diffamatoire.
Il est précisé que La Smartphonerie n'effectue aucune vérification à ce titre. Cependant, si La Smartphonerie constate, au cours d'une vérification temporaire ou suite à une information d'un tiers, qu'un Utilisateur utilise la plateforme à des fins illicites, alors elle pourra suspendre le Compte utilisateur concerné dans les conditions visées à l'article. L'utilisateur est donc seul responsable de l'utilisation qu'il fait de la plateforme et notamment des contenus qu'il pourrait publier ou communiquer via la plateforme.
	</p><br><br>
	<h5 class="" >9.2 Respect de la Charte La Smartphonerie</h5>
	<p>
		L'utilisateur s'engage à respecter la Charte La Smartphonerie (disponible sur la plateforme), laquelle fait partie intégrante du présent Contrat.
La Charte La Smartphonerie présente les principes que tout Utilisateur doit respecter sur la plateforme afin de respecter la communauté et l'esprit La Smartphonerie.
	</p>
	<p>
		9.2.1 Propriété intellectuelle
La Smartphonerie est titulaire des droits sur l'ensemble des éléments présents sur la plateforme (notamment les textes, images, logiciels, ce à l'exclusion des éléments transmis par les Utilisateurs), lesquels sont protégés par les lois françaises et internationales relatives à la propriété intellectuelle.
En outre, La Smartphonerie est titulaire de tout droit sur les bases de données créées via la plateforme – en tant que producteur de ladite base – lesquelles peuvent notamment contenir des informations transmises par l'utilisateur.
La Smartphonerie est également titulaire de la marque « La Smartphonerie » ayant fait l'objet d'un dépôt auprès de l'INPI et de noms de domaine régulièrement enregistrés.
L'utilisateur s'interdit donc de copier, reproduire, diffuser tout ou partie de la plateforme, sous quelque forme que ce soit, à défaut d'en avoir eu l'autorisation expresse et préalable de La Smartphonerie.
De manière générale, l'utilisateur s'interdit de porter atteinte à l'ensemble des droits de propriété intellectuelle appartenant à La Smartphonerie.
La Smartphonerie rappelle que tout atteinte portée à l'intégrité et au bon fonctionnement de la plateforme est susceptible d'entraîner la responsabilité de son auteur.
	</p><br><br>

	<h4 class="text-green text-center" >10. LOI APPLICABLE ET JURIDICTION COMPÉTENTE</h4>
	<p>
		La loi française sera seule applicable au présent Contrat conclu entre un Utilisateur et La Smartphonerie, à l'exclusion des règles de conflit.
Pour le cas où un litige naîtrait entre les parties du fait de l’exécution ou de l’interprétation des présentes, les parties conviennent préalablement à toute action en justice que toute réclamation fera l’objet d’une mise en demeure préalable par courrier recommandé avec demande d’avis de réception.
Toute partie pourra ensuite, après un délai de 10 jours suivant l’envoi du courrier visé à l’alinéa précédent resté sans réponse, engager toute procédure utile.
Le tribunal compétent sera alors déterminé conformément aux règles de droit commun, sauf si l'utilisateur a la qualité de commerçant.
Pour les commerçants, tout litige entre les parties, relatif à leurs relations commerciales et notamment à la conclusion, l'interprétation, l'exécution et la cessation du présent Contrat sera soumis à la compétence exclusive des juridictions du lieu du siège social de La Smartphonerie, même en cas d'appel en garantie ou de pluralité de défendeurs.
	</p><br>




	</div>
	<div class="col-md-2"></div>
</div>