<header class="header-bg-vert">
  <div class="container intro-text">
    <h1 class ="intro-heading">Vous savez réparer des smartphones ?</h1>
    <p>Rejoignez la communauté de La Smartphonerie et commencez gagnez de l'argent en réparant où vous voulez et quand vous voulez !</p><br>
    <a class="typeform-share btn btn-default btn-lg" href="https://gwenaelahoomey.typeform.com/to/div2OC" data-mode="2" target="_blank">Rejoindre la communauté</a>
</header>

<section class="">
  <div class="container">
    <h2 class="text-center">Pourquoi rejoindre la communauté ?</h2><br>
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <h4>
        <i class="fa fa-check-square-o fa-stack fa-2x"></i> Vous pouvez gagner en moyenne 20 euros par réparation <br>
        <i class="fa fa-check-square-o fa-stack fa-2x"></i> Vous réparez quand vous voulez ! Vous gérez vos disponibilités <br>
        <i class="fa fa-check-square-o fa-stack fa-2x"></i> Vous réparez où vous voulez ! Vous gérez votre secteur de réparation <br>
        <i class="fa fa-check-square-o fa-stack fa-2x"></i> Vous n'avez aucun stock à gérer ! Vous n'avez qu'à réparer <br>
        <i class="fa fa-check-square-o fa-stack fa-2x"></i> L'inscription est gratuite et le restera ;) <br>
      </p> <br>
    </div>
    <div class="col-md-2"></div>
    <div class="text-center">
      <a class="typeform-share btn btn-success btn-lg" href="https://gwenaelahoomey.typeform.com/to/div2OC" data-mode="2" target="_blank">Rejoindre la communauté</a>
    </div>
  </div>
</section>

<section class="bg-light-gray">
  <div class="container text-center">
    <div class="col-md-12">
      <h2 class="text-center">Comment ça marche ?</h2></br>
      
      <div class="col-md-6">
          <%= image_tag("client.svg", size: "150", :class => "col-md-4") %>
          <div class="col-md-8">
            <h3 class="text-green text-left">Les Clients</h3>
            <p class="text-left">
              Grâce à La Smartphonerie, vous pourrez redonner le sourire à 10 personnes par jour en moyenne. <br>
              <strong>Nous ne facturons ni abonnement, ni forfait !</strong>
            </p>
          </div>
      </div>
      <div class="col-md-6">
        <%= image_tag("phone-icon.svg", size: "150", :class => "col-md-4") %>
          <h3 class="text-green text-left">Le SAV</h3>
          <p class="text-left">
            Les pièces sont garanties par La Smartphonerie. En cas de problème, nous gérons directement la relation avec le client. <br>
            <strong>Vous continuez votre activité.</strong><br>
            <strong>.</strong>
          </p>
      </div><br><br>
      
      <div class="col-md-6">
          <%= image_tag("independance.svg", size: "150", :class => "col-md-4") %>
          <div class="col-md-8">
            <h3 class="text-green text-left">L'indépendance</h3>
            <p class="text-left">
              Vous pouvez rendre service où vous voulez et quand vous voulez. <br>
              <strong>Vous fixez vous même le tarif de vos réparations, vos disponibilités et votre périmètre d'intervention</strong><br>
            </p>
          </div>
      </div>
      <div class="col-md-6">
        <%= image_tag("logistique.svg", size: "150", :class => "col-md-4") %>
          <h3 class="text-green text-left">La Logistique</h3>
          <p class="text-left">
            Nous nous occupons de fournir les pièces détachées aux clients et de leur livrer avant votre
            intervention. <br>
            <strong>Vous n’avez pas de frais à avancer.</strong><br>
            <strong>Vous n’avez pas de stock à gérer.</strong>
          </p>
      </div>
    </div>
  </div>
  <div class="text-center"><br><br>
      <a class="typeform-share btn btn-success btn-lg" href="https://gwenaelahoomey.typeform.com/to/div2OC" data-mode="2" target="_blank">Rejoindre la communauté</a>
<script>(function(){var qs,js,q,s,d=document,gi=d.getElementById,ce=d.createElement,gt=d.getElementsByTagName,id='typef_orm',b='https://s3-eu-west-1.amazonaws.com/share.typeform.com/';if(!gi.call(d,id)){js=ce.call(d,'script');js.id=id;js.src=b+'share.js';q=gt.call(d,'script')[0];q.parentNode.insertBefore(js,q)}id=id+'_';if(!gi.call(d,id)){qs=ce.call(d,'link');qs.rel='stylesheet';qs.id=id;qs.href=b+'share-button.css';s=gt.call(d,'head')[0];s.appendChild(qs,s)}})()</script>
    </div>
</section>