<div class="container">
	<div class="col-md-2"></div>
	<div class="col-md-8 panel panel-default">
	<h1 class="text-green text-center">Questions fréquentes (FAQ)</h1><br>

	<h4 class="text-green" >C’est quoi La Smartphonerie ?</h4>
	<p>
		La Smartphonerie est un service de réparation de smartphone à domicile ou au bureau qui s'appuie sur un réseau de réparateurs indépendants formés et certifiés.<br>
Où que vous soyez et quand vous le souhaitez, La Smartphonerie vous propose un service de réparation de qualité sans vous séparer de votre mobile.
	</p><br>

	<h4 class="text-green" >Comment utiliser le service ?</h4>
	<p>
		C’est très simple, il vous suffit de nous renseigner votre modèle de smartphone, la panne de celui-ci puis de réserver la réparation. Vous devrez ensuite renseigner un rapide formulaire vous concernant, une fois celui-ci validé nous vous contacterons immédiatement afin de définir d’un créneau horaire. Le Smarty se déplacera alors sur le lieu et sur le créneau horaire prévu pour réaliser la réparation de votre smartphone.
	</p><br>

	<h4 class="text-green" >Comment se passe la réparation ?</h4>
	<p>
		Une fois votre demande de réparation effectuée et le créneau choisi, vous recevrez directement à l’adresse indiquée la pièce nécessaire à la réparation de votre smartphone. Le réparateur viendra ensuite effectuer la réparation. Pendant celle-ci, vous pouvez bien sûr vaquer à vos occupations, vous n’êtes pas obligé de rester à côté du réparateur.
Une vingtaine de minutes plus tard, la réparation est terminée.
	</p><br>

	<h4 class="text-green" >Comment se déroule le paiement ?</h4>
	<p>
		Vous ne payez qu'une fois la réparation faite !<br>
		Ce n’est qu’une fois celle-ci effectuée que vous recevrez un sms (ou mail) qui vous indiquera la marche à suivre pour payer via notre plateforme sécurisée Lydia.
	</p><br>

	<h4 class="text-green" >Comment devenir un Smarty (réparateur certifié La Smartphonerie) ?</h4>
	<p>
		Rejoignez notre communauté et devenez un Smarty ! Tout est expliqué ici: http://www.lasmartphonerie.com/devenir_smarty
	</p><br>

	<h4 class="text-green" >Je n’ai pas trouvé réponse à ma question</h4>
	<p>
		Si vous n’avez pas trouvé réponse à votre question parmi les questions précédentes, nous sommes à votre écoute et nous vous invitons à nous contacter par mail à l’adresse hello@lasmartphonerie.com, nous vous assurons une réponse dans les meilleurs délais.
	</p><br>
	</div>
	<div class="col-md-2"></div>
</div>