
    <!-- Header -->
    <header>
        <div class="container">
            <div class="intro-text">
                <div class="intro-heading">Réparez ce qui vous connecte au monde !</div>
                <div class="intro-lead-in">Notre communauté de réparateurs répare votre smartphone à domicile ou au bureau !</div>
                <!-- Trigger the modal with a button -->
                <button type="button" class="btn btn-success btn-lg" data-toggle="modal" data-target="#myModal"><strong>RÉPARER MON SMARTPHONE</strong></button>
                </br></br>
            </div>
        </div>
    </header>

    <!-- Modal -->
    <div class="modal" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Dites nous en plus</h4>
          </div>
          <div class="modal-body">
            <%= render :partial => "helps/form" %>
          </div>
        </div>
      </div>
    </div>

    <!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-mouse-pointer fa-stack-1x text-primary"></i>
                    </span>
                    <h4 class="service-heading">Simple</h4>
                    <p class="text-muted">Indiquez votre panne et vos coordonnées en 1 clic. Nous vous rappelons dans l'heure pour réparer votre smartphone.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-home fa-stack-1x text-primary"></i>
                    </span>
                    <h4 class="service-heading">Pratique</h4>
                    <p class="text-muted">Nous nous adaptons à vos contraintes. Nous réparons votre smartphone à domicile ou au bureau. </p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-paper-plane fa-stack-1x text-primary"></i>
                    </span>
                    <h4 class="service-heading">Rapide</h4>
                    <p class="text-muted">Nos réparations sont effectuées en 30 minutes chrono.</p>
                </div>
            </div><br><br>
            <div class="col-lg-12 text-center">
                <!-- Trigger the modal with a button -->
                <button type="button" class="btn btn-success btn-lg" data-toggle="modal" data-target="#myModal"><strong>RÉPARER MON SMARTPHONE</strong></button>
            </div>
        </div>
    </section>

    <!-- Portfolio Grid Section -->
    <section id="portfolio" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Ils nous recommandent</h2>
                    <h3 class="section-subheading text-muted">Nos clients nous recommandent sur Twitter. <a target="_blank" href="https://twitter.com/lasmartphonerie">Suivez-nous</a> !</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <blockquote class="twitter-tweet" lang="fr"><p lang="fr" dir="ltr">Service au top chez <a href="https://twitter.com/LaSmartphonerie">@LaSmartphonerie</a> 😀😀 mon iPhone vous remercie !</p>&mdash; Marie M (@MarieMQL) <a href="https://twitter.com/MarieMQL/status/645705462193623040">20 Septembre 2015</a></blockquote>
                    <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
                </div>
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <blockquote class="twitter-tweet" lang="fr"><p lang="fr" dir="ltr">.<a href="https://twitter.com/LaSmartphonerie">@lasmartphonerie</a> a réparé mon nexus5, thanks god, un écran tout neuf ça change la vie ! <a href="https://twitter.com/hashtag/merci?src=hash">#merci</a></p>&mdash; Julie Poupat (@JuliePoupat) <a href="https://twitter.com/JuliePoupat/status/645685901281132544">20 Septembre 2015</a></blockquote>
                    <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
                </div>
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <blockquote class="twitter-tweet" lang="fr"><p lang="fr" dir="ltr">.<a href="https://twitter.com/LaSmartphonerie">@lasmartphonerie</a> a réparé mon nexus5, thanks god, un écran tout neuf ça change la vie ! <a href="https://twitter.com/hashtag/merci?src=hash">#merci</a></p>&mdash; Julie Poupat (@JuliePoupat) <a href="https://twitter.com/JuliePoupat/status/645685901281132544">20 Septembre 2015</a></blockquote>
                    <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
                </div>
            </div><br><br>
            <div class="col-lg-12 text-center">
                <!-- Trigger the modal with a button -->
                <button type="button" class="btn btn-success btn-lg" data-toggle="modal" data-target="#myModal"><strong>RÉPARER MON SMARTPHONE</strong></button>
            </div>
        </div>
    </section>

    <!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Comment ça marche ? </h2>
                    <h3 class="section-subheading text-muted"></h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <!-- <img class="img-circle img-responsive" src="" alt=""> -->
                                <br><br>
                                <i class="fa fa-mobile fa-5x"></i>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Étape 1 :</h4>
                                    <h4 class="subheading">Indiquez-nous votre panne</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">En cliquant sur le bouton "Réparer mon Smartphone", vous pouvez renseigner votre panne et vos coordonnées</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <br><br>
                                <i class="fa fa-phone fa-5x"></i>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Étape 2 :</h4>
                                    <h4 class="subheading">Nous vous rappelons dans l'heure</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Nous vous contactons dans l'heure afin de fixer un rendez-vous pour réparer votre smartphone</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <br><br>
                                <i class="fa fa-wrench fa-5x"></i>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Étape 3 :</h4>
                                    <h4 class="subheading">Votre réparateur répare votre smartphone</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Votre réparateur se déplace au lieu de rendez-vous de votre choix pour effectuer la réparation</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>VOTRE
                                    <br>SMARTPONE
                                    <br>EST RÉPARÉ !</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div><br><br><br>
        <div class="col-lg-12 text-center">
            <!-- Trigger the modal with a button -->
            <button type="button" class="btn btn-success btn-lg" data-toggle="modal" data-target="#myModal"><strong>RÉPARER MON SMARTPHONE</strong></button>
        </div>
    </section>


    <!-- Plugin JavaScript -->
    <%= javascript_include_tag 'classie', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'cbpAnimatedHeader', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'agency', 'data-turbolinks-track' => true %>
