
<% if @stock.prix.nil? %>
	document.querySelector('.monPrix').innerHTML = "<br><br>BUGGG";
<% else %>
	document.querySelector('.monPrix').innerHTML = "<br><br>Nous venons réparer votre <%= @smartphone.modele %> pour";
	document.querySelector('#monPrix').innerHTML = "<%= @stock.prix.to_i-20%>€ <span style='text-decoration: line-through; font-size:17px'><%= @stock.prix.to_i%>€</span>"
	document.querySelector('#bt_reparer').style.display = 'block';
	document.getElementById('bt_prix').value = "PRIX DE MA RÉPARATION"
	document.getElementById('bt_prix').className = "btn btn-block btn-default"
<% end %>


