<div class="container">
	<h1>Mes réparations<h1>
	<div id="content">
        <ul id="tabs" class="nav nav-tabs" data-tabs="tabs">
            <li class="active"><a href="#demandes" data-toggle="tab">Demandes de réparations</a></li>
            <li><a href="#encours" data-toggle="tab">Réparations en cours </a></li>
            <li><a href="#termine" data-toggle="tab">Réparations effectuées</a></li>
        </ul>
        <div id="my-tab-content" class="tab-content">
            <div class="tab-pane active" id="demandes">
            	<br>
				<p><i> Vous n'avez aucune demande de réparation pour l'instant.</i></p>
            </div>
            <div class="tab-pane" id="encours">
            	<br>
				<p><i> Vous n'avez aucune réparation en cours pour l'instant.</i></p>
            </div>
            <div class="tab-pane" id="termine">
            	<br>
				<p><i> Vous n'avez aucune réparation terminée pour l'instant.</i></p>
            </div>
        </div>
    </div>
</div>