<div class="container">
	<h1>Sélectionnez les pannes que vous savez réparer</h1>
	<p>La sélection des pannes que vous savez réparer nous permet de connaître les réparations que vous avez l'habitude d'effectuer afin de vous proposer des réparations que vous pouvez réaliser.</p>
		<%= render 'form' %>
</div>
