document.getElementById('img_validation').style.display = 'block';
document.getElementById('social_media').style.display = 'block';
document.querySelector('.msg_validation').innerHTML = "<h4>Merci pour votre demande !<br>Nous revenons vers vous au plus vite !</h4>";
document.getElementById('wcb_numtel').style.display = 'none';
document.getElementById('wcb_submit').style.display = 'none';
mixpanel.track("Demande de web call back effectuée");
document.querySelector('.conseiller').innerHTML = "BBHJD";
