<footer>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <span class="copyright">Copyright &copy; La Smartphonerie 2015</span>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline social-buttons">
                        <li><a target="_blank" href="https://twitter.com/lasmartphonerie"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li><a target="_blank" href="https://www.facebook.com/lasmartphonerie"><i class="fa fa-facebook"></i></a>
                        </li>
                    </ul><br>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline quicklinks">
                        <li><a class="homelink" href="mailto:hello@lasmartphonerie.com">Contact</a>
                        </li>
                        <li><a class="homelink" href="/faq">FAQ</a>
                        </li>
                        <li><a class="homelink" href="/cgv">Mentions Légales</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>