	<nav class="navbar" role="navigation">
		<br>
	  <div class="col-md-4 text-left">
	  	LOGO
	  </div>
	  <div class="col-md-4 text-left">
	  </div>
	  <div class="col-md-4 text-right">
	  	<div class="col-md-4">
	  		Comment ça marche ?<br>
	  	</div>
	  	<div class="col-md-4">
	  		Contact<br>
	  	</div>
	  	<div class="col-md-4">
	  		Devenir Smarty<br>
	  	</div>
	  </div>
	</nav>
	</br></br><br><br>